---
import DatoLink from "../global/DatoLink.astro";

const { data } = Astro.props;

const directors = data.directors || [];

const directorsWithDuplicate = [...directors, ...directors];
---

<div id="directors-page" class="relative h-dvh overflow-hidden overscroll-none select-none">
    <div class="pointer-events-none absolute inset-0 z-0">
        <div class="absolute inset-0 z-3 bg-black/40"></div>
        <video
            id="director-video-1"
            class="absolute inset-0 h-full w-full object-cover"
            autoplay
            muted
            loop
            playsinline
        >
        </video>
        <video
            id="director-video-2"
            class="absolute inset-0 h-full w-full object-cover opacity-0"
            autoplay
            muted
            loop
            playsinline
        >
        </video>
    </div>
    <div class="absolute inset-0 z-1 max-md:mask-(--masking-edge-gradient)">
        <div class="absolute top-[50%] right-0 left-0 h-18 -translate-y-1/2">
            <div id="directors-list" class="text-nav flex w-full flex-col items-center">
                {
                    directorsWithDuplicate.map((director, index) => (
                        <div
                            data-video={director.showcase.wiredriveUrl}
                            data-poster={director.showcase.poster.url}
                            data-color={director.color.hex}
                            data-index={index % directors.length}
                            data-director={director.name}
                            class="director-item mb-8 h-18"
                        >
                            <DatoLink class="relative h-18" link={{ internalLink: director }}>
                                <span class="opacity-20">{director.name}</span>
                            </DatoLink>
                        </div>
                    ))
                }
            </div>
        </div>
        <div
            class="pointer-events-none absolute top-[50%] right-0 left-0 h-18 -translate-y-1/2 overflow-hidden"
        >
            <div id="directors-ghost-list" class="text-nav flex w-full flex-col items-center">
                {
                    directorsWithDuplicate.map((director) => (
                        <span class="mb-8 h-18">{director.name}</span>
                    ))
                }
            </div>
        </div>
    </div>

    <!-- Debug -->

    <!-- <div class="absolute top-[50%] right-0 left-0 h-1 -translate-y-9 bg-[#ff0000] opacity-50"></div>
    <div class="absolute top-[50%] right-0 left-0 h-1 bg-[#ff0000] opacity-50"></div>
    <div class="absolute top-[50%] right-0 left-0 h-1 translate-y-9 bg-[#ff0000] opacity-50"></div> -->
</div>
