---
const { link, class: className = "", style = "", ...props } = Astro.props;

const { label, externalLink, internalLink } = link;

let linkUrl = "#";

if (externalLink) {
    linkUrl = externalLink;
} else if (internalLink) {
    const interlinkUrl = internalLink.slug ? `/${internalLink.slug}` : "/";
    if (interlinkUrl) linkUrl = interlinkUrl;
}

// on build Astro add a trailing slash to the pathname
let pathName = Astro.url.pathname;
if (pathName !== "/" && pathName.endsWith("/")) pathName = pathName.slice(0, -1);

const isCurrent = internalLink && linkUrl === pathName;

const target = link.externalLink ? "_blank" : "_self";
---

<a
    style={style}
    href={linkUrl}
    draggable="false"
    class:list={[className, { "link-current": isCurrent }]}
    target={target}
    data-template={internalLink?._modelApiKey}
    {...props}
>
    <slot>{label}</slot>
</a>
